<link rel="stylesheet" type="text/css" href="/assets/calculator/index.css">

<script type="text/javascript" src="/assets/calculator/index.js"></script>
<script type="text/javascript" src="/assets/calculator/common.js"></script>

<div class="page calculator">
  <div class="content" id="calculator_main">
    <canvas id="canvas_up" width="400" height="670"></canvas>
    <canvas id="canvas_bottom" width="400" height="670"></canvas>
  </div>
</div>

<script type="text/javascript">
  cal.StartDraw();
</script>
